html {
    background-color: #f6f6f6;
}
body {
    background-color: #fff;
    margin: auto;
    max-width: 900px;
    line-height: 1.6;
    font-size: 18px;
    color: rgb(50, 50, 50);
    padding: 0 10px;
    font-family: Arial, sans-serif;
}

h1,
h2,
h3 {
    line-height: 1.2;
}

/* logo */
.logo img {
    width: 150px;
}

/* search */
.search {
    width: 150px;
}
/* flexbox header */
.container-header {
    display: flex; /* or inline-flex */
    justify-content: space-between;
    align-items: center;
}
.container-header .item {
    flex-grow: 1;
}

/* flexbox */
.container {
    display: flex; /* or inline-flex */
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.container .item {
    margin-bottom: 3%;
}

/* flip cards from: https://www.w3schools.com/howto/howto_css_flip_card.asp */
.flip-card {
    background-color: transparent;
    width: 200px;
    height: 250px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
}
.flip-card-front img {
    width: 200px;
    height: 250px;
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.flip-card-front {
    background-color: #bbb;
    color: black;
}
.flip-card-back {
    background-color: rgb(38, 96, 93);
    color: rgb(246, 246, 246);
    transform: rotateY(180deg);
}

/* lightbox from https://codepen.io/iaian7/pen/KvveLr */
.lightbox {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
}
.lightbox img {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 40%;
    max-height: 40%;
    border: 2px solid white;
    box-sizing: border-box;
}
.lightbox:target {
    visibility: visible;
    opacity: 1;
}
.lightbox:target img {
    max-width: 95%;
    max-height: 95%;
}
.lightboxClose {
    display: block;
    width: 100%;
    height: 100%;
}
.lightboxClose span {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    border-left: 1px dotted #fff;
    border-bottom: 1px dotted #fff;
    padding: 5px;
}
.animate {
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -ms-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

/* footer */
footer {
    background-color: #fff951cc;
    height: 30px;
    margin: 0 -10px 0 -10px;
}
footer span {
    font-size: 12px;
}
footer a {
    color: rgb(28, 28, 28);
}
.site-notice {
    margin: 0 auto;
    width: fit-content;
}
